- content_for :header do
  Authorization
  
.span6
  .widget-box
    .widget-title
      %span.icon
        %i.icon-th-list
      %h5 Log in
    .widget-content
      = form_tag sessions_path, :class => 'form-horizontal' do
        .control-group
          = label_tag  :username, nil, :class => 'control-label'
          .controls
            = text_field_tag :username, params[:username], :class => 'text_field'
        .control-group
          = label_tag  :password, nil, :class => 'control-label'
          .controls
            = password_field_tag :password, nil, :class => 'text_field'
        .control-group
          = label_tag :remember_me, nil, :class => 'control-label'
          .controls
            = check_box_tag :remember_me, 1, params[:remember_me]
        .form-actions
          = submit_tag "Log in", :class => 'btn btn-primary'

.span6
  .widget-box
    .widget-title
      %span.icon
        %i.icon-th-list
      %h5 Forgot Password?
    .widget-content
      = render 'forgot_password_form'