- model_class = Article
- content_for :header do
  =t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human, :default => "New #{model_class.model_name.human}")

- content_for :breadcrumbs do
  #breadcrumb
    = link_to '/' do
      %i.icon-home
      Home
    = link_to articles_url do
      %i.icon-file
      Articles
    = link_to '#' do
      %i.icon-file
      New

= render :partial => "form"
