- model_class = Article
- content_for :header do
  =t '.title', :default => model_class.model_name.human

- content_for :breadcrumbs do
  #breadcrumb
    = link_to '/' do
      %i.icon-home
      Home
    = link_to articles_url do
      %i.icon-file
      Articles
    = link_to article_url(@article) do
      %i.icon-file
      Article

%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @article.title
%p
  %strong= model_class.human_attribute_name(:short) + ':'
  %br
  = @article.short
%p
  %strong= model_class.human_attribute_name(:full) + ':'
  %br
  = @article.full
%p
  %strong= model_class.human_attribute_name(:state) + ':'
  %br
  = @article.state
%p
  %strong= model_class.human_attribute_name(:course_id) + ':'
  %br
  = @article.course_id
%p
  %strong= model_class.human_attribute_name(:picture) + ':'
  %br
    = image_tag @article.picture.url(:thumb)


.form-actions
  = link_to 'Edit', edit_article_path(@article), :class => 'btn edit'
  = link_to 'Delete', article_path(@article), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger delete'
