%p
  %strong Title
  %br
  = article.title
%p
  %strong Short
  %br
  = article.short
%p
  %strong Full
  %br
  = article.full
%p
  %strong State
  %br
  = article.state
%p
  %strong Picture
  %br
    = image_tag article.picture.url

.form-actions
  = link_to 'Edit', "#{edit_article_path(article)}?remote=true", :class => 'btn edit', :remote => true
  = link_to 'Delete', "#{article_path(article)}?remote=true",  :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger delete', :remote => true
