%p
  %strong
    title
  %br
  = test.title
  = test.id
%p
  %strong
    short
  %br
  = test.short
%p
  %strong
    state
  %br
  = test.state

.form-actions
  = link_to 'Edit', "#{edit_test_path(test)}?remote=true", :class => 'btn edit', :remote => true
  = link_to 'Delete', "#{test_path(test)}?remote=true",  :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger delete', :remote => true
