- model_class = Course
- content_for :header do
  =t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-hover
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:short)
      %th= model_class.human_attribute_name(:full)
      %th= model_class.human_attribute_name(:state)
      %th= model_class.human_attribute_name(:created_at)
  %tbody
    - @courses.each do |course|
      %tr
        %td= link_to course.id, course_path(course)
        %td= course.title
        %td= course.short
        %td= course.full
        %td= course.state
        %td=l course.created_at
