- model_class = Category
- content_for :header do
  =t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @category.name
%p
  %strong= model_class.human_attribute_name(:parent_id) + ':'
  %br
  = @category.parent_id
%p
  %strong= model_class.human_attribute_name(:lft) + ':'
  %br
  = @category.lft
%p
  %strong= model_class.human_attribute_name(:rgt) + ':'
  %br
  = @category.rgt

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), categories_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_category_path(@category), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), category_path(@category), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
