= form_for @test, :remote => !!params[:remote], :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'text_field'
  .control-group
    = f.label :short, :class => 'control-label'
    .controls
      = f.text_area :short, :class => 'text_field wysihtml5', :rows => "10"
  .control-group
    = f.label :state, :class => 'control-label'
    .controls
      = f.select :state, ['draft', 'published']
  .control-group
    = f.label :course_id, :class => 'control-label'
    .controls
      = f.collection_select :course_id, Course.all, :id, :title
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), tests_path, :class => 'btn'
